

body{
    margin:0 auto;
    width:100%;
}
.nav-bar{
    background-color: #0E0E0E;
    height:100px;
    width:100%;
    font-family: 'Open Sans Condensed', sans-serif;
    
}
.logo{
    height:60px;
    width:100px;

    
}
.nav-list{
    margin:0 auto;
    float: right;
    margin-right:30px;
    margin-top: 10px;
} 
.list-item{
    display:inline;
    padding-right: 25px;
}
.list-item a {
    text-decoration: none;
    color: #911898;
    font-size:32px;
    font-weight: bold;
    font-style: oblique;
}
.list-item a:hover{
    color:#0F8A77;
}

.banner{
    background-image: url('../images/view.jpg');
    background-size: cover;
    background-position:center;
    height:700px;
    width:100%;
    position: relative;
    overflow:hidden;
}
.banner-text-background{
    height: 150px;
    width: 200px;
    background-color: #aa9703;/*goldish*/
    position: absolute;
    top: 100px;
    left: 25%;
    font-weight: bold;
    font-style: oblique;
    border-radius: 150px;
    text-align: center;
    text-shadow:1px 1px #911808;
    margin-bottom: 50px;
    font-family: 'Cairo', sans-serif;
}
.banner-text{
    color:#aa9703;
    text-shadow:1px 1px #911808;
    text-align:center;
}
.container{
    width:100%;
    height:350px;
    position:relative;
    overflow:hidden;
    margin-top:25px;
}

.column-one, .column-two{
    width:48%;
    height:300px;
    float:left;
    border:8px solid #911808;
    
    
}


.about-container{
    width:100%;
    position:relative;
    height:450px;
    overflow:hidden;
}
.about-col{
    display:inline-block;
    height: 500px;
    width:33%;
    border:3px solid #911808;
    text-align: center;
}
.img{
    left:0;
    height:450px;
    width:33%;
}
.about-img{
    width:100%;
    height:450px;
}
.audio{
    position:absolute;
    left:33%;
}
.video{
    position:absolute;
    left:66%;
}





.map-heading{
    margin-top:10px;
}
.map-border{
    border:8px solid #911808;
    height:300px;
    width:400px;
    display:inline-block;
    text-align: center
}
.map{ 
    overflow:hidden;
    text-align: center;
    border:10px solid #911808;
    margin: 0 auto;
    width:99%;
    
}
.contact-form{
    width:400px;
    height:300px;
    border:10px solid #911808;
    margin: 0 auto;
}
.footer{
   background-color:gold;
   height: 15px;
   width: 100%;

}
.line{
   height: 20px;

}
.col-text{
   padding: 20px;
}
/****About Styles**/
.footer-col{ 
   width: 32%;
   height:60px;
   display:inline-block;
   margin-top:25px;
}

.fa-facebook-square{
    color:#3B5998;
}
.fa-instagram-square{
    margin-left: 15px;
}
.copyright{
    font-weight:700;
    
}




