


body{
    margin:0 auto;
    width:100%;
}
.nav-bar{
    background-color: #0E0E0E;
    height:100px;
    width:100%;
    font-family: 'Open Sans Condensed', sans-serif;
    
}
.logo{
    height:100px;
    width:100px;
}
.nav-list{
    margin:0 auto;
    float: right;
    margin-right:30px;
    margin-top: 10px;
} 
.list-item{
    display:inline;
    padding-right: 25px;
}
.list-item a {
    text-decoration: none;
    color: #911898;
    font-size:32px;
    font-weight: bold;
    font-style: oblique;
}
.list-item a:hover{
    color:#0F8A77;
}

.banner{
    background-image: url('../images/view.jpg');
    background-size: cover;
    background-position:center;
    height:700px;
    width:100%;
    position: relative;
    overflow:hidden;
}
.banner-text-background{
    width: 100%;
    background-color: #0E0E0E;
    position: absolute;
    text-align: center;
    top:15%;
    text-shadow:2px 2px #0E0E0E;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    overflow:hidden;
    
    
}

.banner-text{
    color:#911898;
    text-shadow:1px 1px #911808;
    text-align:center;
}
.container{
    width:100%;
    height:300px;
    position:relative;
    overflow:hidden;
}

.column-one{
    float: left;
    width: 50%;
    border: 3px solid #070705;
    position:absolute;
}
.column-two{
   width:100%;
   border: 3px solid #070705 ;
   float: left;
   left: 50%;
}
.img{
    left:0;
    height:300px;
    width:100%;
}
    

.about-container{
    width:100%;
    position:relative;
    height:500px;
    overflow:hidden;
}
.about-col{
    display:inline-block;
    height: 500px;
    width:33%;
    border:4px solid #070705;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.about-img{
    width:100%;
    height:450px;
    font-size: 20px;
    font-weight: bold;
}
.audio{
    position:absolute;
    left:33%;
    font-size: 20px;
    font-weight: bold;
}
.video{
    position:absolute;
    left:66%;
    font-size:20px;
    font-weight: bold;
}





.map-heading{
    margin-top:10px;
}
.map-border{
    border:8px solid #0E0E0E;
    height:450px;
    width:600px;
    display:inline-block;
    text-align: center
}
.map{ 
    overflow:hidden;
    text-align: center;
    border:10px solid #0E0E0E;
    margin: 0 auto;
    width:99%;
    
}
.contact-form{
    width:400px;
    height:300px;
    border:10px solid #0E0E0E;
    margin: 0 auto;
}
.footer{
   background-color:#0E0E0E;
   height: 100px;
   width: 100%;

}
.line{
   height: 20px;

}
.col-text{
   padding: 20px;
}
/****About Styles**/
.footer-col{ 
   width: 33%;
   height:60px;
   display:inline-block;
   margin-top:10px;
}

.fa-facebook-square{
    color:#3B5998;
}
.fa-instagram-square{
    margin-left: 15px;
}
.copyright{
    font-weight:700;
    color:#911898;
    right:0;
    
}




